.menu-page h1 {
    margin-top: 25px;
}

.menu-item_container {
    padding: 10px;
}

.menu-item {
    /* border: 1px solid black; */
    box-shadow: 2px 2px 2px rgb(174, 167, 167);
    border-left: 5px solid rgb(237, 111, 111);
    background-color: white;
    margin-top: .5em;
    padding: 5px;
    text-align: left;
}