h1 {
    /* text-align: center; */
    padding: 0 5px;
}
nav ul {
    background-color: rgb(188, 188, 237);
}
/* ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} */
nav li {
    margin: 20px;
    list-style-type: none;
}
a {
    display: inline-block;
    transition: background-color 0.25s ease;
}
nav a:hover {
    background-color: rgb(240, 228, 178);
}
  