h1 {
    text-align: center;
}
ul {
    display: flex;
    justify-content: center;
}
li {
    margin: 20px;
}
a {
    display: inline-block;
    transition: background-color 0.9s ease;
}
a:hover {
    background-color: goldenrod;
}
  