* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
body {
  font-size: 1.4em;
  text-align: center;
  background-color: rgb(213, 210, 210);
}
p, div.card-title {
  margin-bottom: 0;
}
li { 
  list-style-type: none;
}

/* modal-... classes are bootstrap */
.modal-body {
  background-color: rgb(223, 221, 221);
  color: white;
}
.modal-header span {
  font-family: 'Glegoo', serif;
  /* text-decoration: underline rgb(39, 235, 199); */
  font-weight: 700;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 7px;
}
div.menu-item-name {
  /* font-weight: 600; */
  font-family: 'Glegoo', serif;
}
div.menu-item-card {
  text-align: left;
}
div.menu-item-card > div {
  padding: 5px 15px;
}

button:not(.navbar-toggler) {
  padding: 4px 10px;
  margin: .70em 0;
  border-radius: 5px;
  font-size: .8em;
  background-color: rgb(23, 132, 215);
  border-color: rgb(23, 132, 215);
  color: white;
  box-shadow: 1px 1px 2px rgb(174, 167, 167);
}
button:hover {
  background-color: rgb(4, 108, 187);
  border-color: rgb(4, 108, 187);
}
/* navbar-toggler is bootstrap */
button.navbar-toggler:hover {
  background-color: white;
}
button.menu-select-button, button.menu-assignment-button {
  margin: 15px 4px 0;
}
button.menu-assignment-button {
  background-color: white;
  color: rgb(136, 136, 136);
  border-color: rgb(186, 184, 184);
}
button.menu-assignment-button:hover {
  background-color: rgb(13, 208, 172);
  border-color: rgb(13, 208, 172);
  color: black;
}
button.selected-menu {
  background-color: rgb(39, 235, 199);
  border-color: rgb(39, 235, 199);
  color: black;
}
button.danger-btn {
  background-color: rgb(255, 76, 76);
  border-color: rgb(255, 76, 76);
}
button.danger-btn:hover {
  background-color: rgb(235, 34, 34);
  border-color: rgb(235, 34, 34);
}
.hidden {
  display: none;
}

input {
  height: 2.25em;
  /* TODO: set rules for lengths of each field */
  font-size: .75em;
  padding: 7px;
  margin-top: 7px;
  border: 1px solid rgb(230, 211, 211);
  border-radius: 5px;
}
/* TODO: add breakpoints for larger screens */
input#nameInput {
  width: 80%;
}
input#editItemNameInput {
  width: 235px;
}
input#editItemDescriptionInput, input#descriptionInput{
  width: 95%;
}
input#costInput {
  width: 33%;
}
input#editItemCostInput {
  width: 75px;
}
input#filterInput {
  width: 45%;
  margin: 0 0 .6em .6em;
  
}
input#newMenuInput, input#deleteMenuInput {
  width: 33%;
  margin-bottom: .7em;
}

#active-menu-list li {
  /* display: inline-block; */
  padding-left: .9em;
}
/* .invalidInput {
  border: 2px solid red;
} */
/* 
.success-msg {
  color: rgb(134, 134, 245);
  font-size: .75em;
} */

.error-msg {
  /* color: #f45f42; */
  font-size: .75em;
  padding: 7px;
  margin: 0 10px;
}





