* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
body {
  font-size: 1.4em;
  text-align: center;
  
}
p {
  margin: 0;
}
div.card-title {
  margin-bottom: 0;
}
li { 
  list-style-type: none;
}
/* .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
} */
/* .card-container > div {
  width: 33%;
} */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 7px;
}
div.menu-item-card {
  text-align: left;
}
div.menu-item-card > div {
  padding: 5px 15px;
}
button {
  padding: 4px 10px;
  border-radius: 5px;
}
.menu-select-button, .sort-button {
  margin: 0 .70em .70em 0;
  font-size: .7em;
}
button.edit-menu {
  background-color: rgb(244, 146, 124);
  border-color: rgb(233, 128, 72);
}
button.edit-menu:hover {
  background-color: rgb(233, 128, 72);
  border-color: rgb(233, 128, 72);
}
button.selected-menu {
  background-color: rgb(39, 235, 199);
  border-color: rgb(39, 235, 199);
  color: black;
}
/* button[data-disabled="true"] {
  cursor: not-allowed;
}
button[data-disabled="false"]:hover {
  background-color: rgb(24, 205, 177);
  border-color: rgb(24, 205, 177);
  color: black;
} */
div.menu-item-name {
  /* font-weight: 600; */
  font-family: 'Glegoo', serif;
}
.hidden {
  display: none;
}

input {
  height: 2.25em;
  /* TODO: set rules for lengths of each field */
  font-size: .75em;
  padding: 7px;
  margin-top: 7px;
  border: 1px solid rgb(230, 211, 211);
  border-radius: 5px;
}
/* TODO: add breakpoints for larger screens */
input#nameInput {
  width: 80%;
}
input#editItemDescriptionInput, input#descriptionInput{
  width: 90%;
}
input#costInput {
  width: 33%;
}
input#editItemCostInput {
  width: 75px;
}
input#filterInput {
  width: 45%;
  margin: 0 0 .6em .6em;
  
}
input#newMenuInput {
  width: 33%;
  margin-bottom: .7em;
}

#active-menu-list li {
  /* display: inline-block; */
  padding-left: .9em;
}
/* .invalidInput {
  border: 2px solid red;
} */
/* .error-msg {
  color: #f45f42;
  font-size: .75em;
}
.success-msg {
  color: rgb(134, 134, 245);
  font-size: .75em;
} */






