* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
body {
  font-size: 1.4em;
}
/* button {
  padding: 6px;
  font-size: .75em;
}
button:hover {
  background-color: rgb(230, 211, 211);
}
li { 
  list-style-type: none;
  margin: 4px;
}
ul.menu-items {
  width: 60%;
  margin: 0 auto;
  font-size: .85em;
}
.menu-items li p:first-of-type {
  color: rgb(134, 134, 245);
}
.menu-items li p:nth-child(2) {
  color: rgb(75, 0, 130);
}
.menu-items li p:last-of-type {
  color: rgb(139, 0, 139);
}
.menu-selection li, .menu-items li {
  border: 1px solid rgb(230, 211, 211);
  text-align: left;
  border-radius: 5px;
  padding: 5px; 
}
.menu-item li {
  padding: 2px; 
}
.menu-items p {
  margin: 2px;
}
a {
  text-decoration: none;
}
input {
  height: 30px;
  width: 250px;
  font-size: .85em;
  padding: 4px;
  margin-left: 4px;
  margin-top: 7px;
  border: 1px solid rgb(230, 211, 211);
  border-radius: 5px;
}
.menu-selection li {
  display: inline-block;
  font-size: .8em;
}
.menu-selection:hover {
  cursor: default;
}
.selectedMenu {
  background-color: rgb(230, 211, 211);
}

.error-msg {
  color: #f45f42;
  font-size: .75em;
}
.success-msg {
  color: rgb(134, 134, 245);
  font-size: .75em;
} */

.hidden {
  display: none;
}


